<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.whf.messagerelayer">

    <!-- 允许程序监控短信的接受 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.MessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.SmsService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".activity.SmsRelayerActivity"
            android:label="配置短信">
        </activity>
        <activity
            android:name=".activity.EmailRelayerActivity"
            android:label="配置邮件">
        </activity>
        <activity android:name=".activity.RuleActivity">
        </activity>
        <activity android:name=".activity.ContactListActivity">
        </activity>
        <activity android:name=".activity.SelectedContactActivity">
        </activity>

        <service
            android:name=".service.ContactChangeService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>